# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.*

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Docker
*.pid

# IDE
.vscode/
.idea/

# Optional
coverage/